# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================

venv/
.env/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Output
# ==========================

output/
temp/

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Models (optional)
# ==========================

models/*.pt
models/*.pth

# ==========================
# OS Files
# ==========================

Thumbs.db
.DS_Store

